<section>
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam cupiditate maxime veniam dignissimos quas officia nesciunt qui minima, aliquid provident?</p>
    </div>
</section>