<div class="jumbotron mt-4">
    <h1 class="display-4">List App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptates dolor at iure, eligendi quos.</p>
    <hr class="my-4"> <!--espaciado arriba y abajo-->
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur animi corrupti quasi facere eum non placeat dicta nisi quibusdam eligendi?</p> <!--lorem20 + tab-->
    <a href="https://www.linkedin.com/in/enzo-guido-abuchaibe/" class="btn btn-primary">Linkedin Profile</a>
</div>
